
{% extends 'base.html' %}

{% block title %} About Patternbook {% endblock %}


{% block body %} 

    <div class="jumbotron" style="background-color: #c6f7e3">
        <h1 class="display-4">About One Patternbook</h1>
        <p class="lead">Find your patterns anywhere and easily store your favorite collections for your future self when you need them.</p>
        <hr class="my-4">
        <p>Find your perfect pattern:</p>
        <a class="btn btn-primary btn-lg" style="color: mintcream" href="/" role="button">Search</a>
    </div>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>


{% endblock %}